<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>주민 목록</title>
</head>
<body>
<h1>주민 목록</h1>

<table border="1">
    <thead>
    <tr>
        <th>일련 번호</th>
        <th>이름</th>
        <th>생일</th>
        <th>증명서</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${residents.size() == 0}">
        <td colspan="5"> 등록된 주민 없음</td>
    </tr>
    <tr th:each="resident : ${residents}">
        <td><span th:text="${resident.residentSerialNumber}"></span></td>
        <td><span th:text="${resident.name}"></span></td>
        <td><span th:text="${resident.birthDate}"></span></td>
        <td>
            <button th:onclick="|location.href='@{certifications(id=${resident.residentSerialNumber})}'|">조회발급</button>
        </td>
        <td>
            <button th:onclick="|location.href='@{certifications(id=${resident.residentSerialNumber})}'|">삭제</button>
        </td>
    </tr>
    </tbody>
</table>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="name" />
    <a href="/auth/logout">Logout</a>
</div>

</body>
</html>